@charset "utf-8";

/* メインとなる全体のデザイン */
h1.main-style {
	padding: 0.5em;
	color: #010101;
	background: #eaf3ff;
	border-bottom: solid 3px #516ab6;
}

h2.main-style {
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	color: #494949;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #7db4e6;/*左線*/
}

h3.main-style {
	margin-top: 2.5em;
	margin-bottom: 2em;
	position: relative;
	padding: 0.6em;
	background: #e0edff;
}

h3.main-style:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

hr {
	border-top: 3px solid #7db4e6;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/*ここから教科書を参考に記載*/

/* リンクの状態に合わせて表示を変える */
/* P92-P93 chapter5/c05-02-a */

#ch08-2-a
a {
	color: #0073bc;
}
#ch08-2-a
a:link {
	color: #0073bc;
}
#ch08-2-a
a:visited {
	color: #02314c;
}
#ch08-2-a
a:hover {
	color: #b7dbf2;
}
#ch08-2-a
a:active {
	color: #4ca4e8;
}

/* 実践的なWebデザインで書かれるCSSの例 */
/* P94 chapter5/c05-02-b */

#ch08-2-b
a {
	color: #0073bc;
}
#ch08-2-b
a:hover {
	color: #b7dbf2;
}
#ch08-2-b
a:active {
	color: #4ca4e8;
}
/* リンクの下線を消して、ホバーの時に表示させる */
/* P94-P95 chapter5/c05-02-c */

#ch08-2-c a {
	color: #0073bc;
	text-decoration: none;
}
#ch08-2-c a:hover {
	color: #b7dbf2;
	text-decoration: underline;
}

/* 別タブで開くリンクの後ろにアイコンを表示する */
/* P96 chapter5/c05-02-d */

#ch08-2-d a {
	color: #0073bc;
}
#ch08-2-d a:hover {
	color: #b7dbf2;
}
#ch08-2-d a[target="_blank"]:after {
	content: url(../../../Pictures/opentab.png);
}

/* 画像を縮小して表示する */
/* P103 chapter5/c05-03-c */

#ch08-3-c .img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
#ch08-3-c .thumbnail {
	width: 200px;
}


/* ホバーしたとき画像の透明度を変更する */
/* P105-P106 chapter5/c05-04-c */

#ch08-4-c
a:hover img {
	opacity: 0.5;
}
/* ホバーしたとき画像に枠線をつける */
/* P107 chapter5/c05-04-d */

#ch08-4-d .frame {
	padding: 8px;
	border: 1px solid transparent;
}
#ch08-4-d a:hover .frame {
	border: 1px solid #ccc;
}


/* 画像にテキストを回り込ませる */
/* P108-P110 chapter5/c05-05-a */

#ch08-5-a p {
	margin: 0 0 1em 0;
}
#ch08-5-a .float-box {
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
	vertical-align: baseline;
}
#ch08-5-a .float-clear {
	overflow: hidden;
}

