@charset "utf-8";

/* メインとなる全体のデザイン */
h1.main-style {
	padding: 0.5em;
	color: #010101;
	background: #eaf3ff;
	border-bottom: solid 3px #516ab6;
}

h2.main-style {
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	color: #494949;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #7db4e6;/*左線*/
}

h3.main-style {
	margin-top: 2.5em;
	margin-bottom: 2em;
	position: relative;
	padding: 0.6em;
	background: #e0edff;
}

h3.main-style:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

hr {
	border-top: 3px solid #7db4e6;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/*ここから教科書を参考に記載*/

/* 最低限テーブルらしく見せるためのCSS */
/* P154 chapter7/c07-01-b */
#ch10-1-b table {
	
}
#ch10-1-b th, #ch10-1-b td {
	
}

/* P156 chapter7/c07-01-c */
#ch10-1-c table {
	border-collapse: collapse;
}
#ch10-1-c .checkout th,
#ch10-1-c .checkout td {
	padding: 8px;
}
#ch10-1-c .checkout th {
	font-weight: normal;
	color: #008cca;
}
#ch10-1-c .checkout th.item {
	text-align: left;
}
#ch10-1-c .checkout .qty {
	text-align: center;
}
#ch10-1-c .checkout .price {
	text-align: right;
}
#ch10-1-c .checkout .total {
	border-top: 1px solid #8fbac8;
}

/* P158 chapter7/c07-01-d */
#ch10-1-d table {
	border-collapse: collapse;
}
#ch10-1-d .plan th,
#ch10-1-d .plan td {
	border: 1px solid #93C8E2;
	padding: 4px;
	font-weight: normal;
}
#ch10-1-d .plan th {
	color: #fff;
	background: #0092e3;
}
#ch10-1-d .meal {
	text-align: center;
}



/* P160 chapter7/c07-02-a */
#ch10-2-a table {
	border-collapse: collapse;
}
#ch10-2-a caption {
	color: #008cca;
}
#ch10-2-a th,
#ch10-2-a td {
	border: 1px solid #8fbac8;
	padding: 8px;
}
#ch10-2-a th {
	color: #fff;
	background: #008cca;
}

/* P161-P162 chapter7/c07-02-b */
#ch10-2-b table {
	border-collapse: collapse;
}
#ch10-2-b caption {
	color: #008cca;
}
#ch10-2-b th,
#ch10-2-b td {
	border: 1px solid #8fbac8;
	padding: 8px;
}
#ch10-2-b th {
	color: #fff;
	background: #008cca;
}

/* P163 chapter7/c07-02-c */
#ch10-2-c table {
	border-collapse: collapse;
}
#ch10-2-c caption {
	color: #008cca;
}
#ch10-2-c th,
#ch10-2-c td {
	border: 1px solid #8fbac8;
	padding: 8px;
}
#ch10-2-c th {
	color: #fff;
	background: #008cca;
}



/* P165-166 chapter7/c07-03-a */
#ch10-3-a table {
	border-collapse: collapse;
}
#ch10-3-a .price caption {
	color: #1f8ef5;
}
#ch10-3-a .price th,
#ch10-3-a td {
	border: 1px solid #e3ecf5;
	padding: 8px;
}
#ch10-3-a .price th {
	border: 1px solid #e3ecf5;
	color: #fff;
	background: #1f8ef5;
}
#ch10-3-a 


/* P167-168 chapter7/c07-03-b */
#ch10-3-b 

#ch10-3-b table {
	border-collapse: collapse;
}
#ch10-3-b 

#ch10-3-b .price caption {
	text-align: left;
}
#ch10-3-b .price th,
#ch10-3-b td {
	border: 1px solid #8fbac8;
	padding: 8px;
}
#ch10-3-b .price th {
	
}