<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <meta name="description" content="子どもから大人まで、プログラミングを学ぶなら。Codera。">
    <title>プログラミングスクールCodera</title>
    <link rel="stylesheet" href="../css/nomalize.css">
    <link rel="stylesheetx" href="../css/main.css">
</head>

<header>
    <div class="container header-container">
        <div class="header-inner">

        </div>
    </div>
</header>

<nav>
    <div class="container nav-container">
        <ul class="navbar">
            <li><a href=".././index.html">ホーム</a></li>
            <li><a href="../course/index.html">コース紹介</a></li>
            <li><a href="../qanda/index.html">よくある質問</a></li>
            <li><a href="../contact/index.html">お申し込み</a></li>
        </ul>
    </div>
</nav>

<section class="main">
    <div class="container">
        <main>

        </main>
    </div>
</section>

<footer>
    <div class="container footer-container">

    </div>
</footer>

<script src="../script/script.js"></script>

<body>

</body>

</html>